@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(90, 0, 77, 0.65), rgba(90, 0, 77, 0.65) ), url('./imgs/bg-img.jpg');
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
h1 {
  font-size: 80px;
  cursor: pointer;
  color: #fff;
}
.ness {
  color: red;
}
nav ul {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-right: 60px;
}
nav ul li {
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}
nav ul li a:hover {
  color: red;
}
.membership {
  text-decoration: none;
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background-color: red;
  padding: 10px 20px;
  font-size: 17px;
  
}
.membership:hover {
  background-color: white;
  color: red;
}
.content {
  max-width: 640px;
  margin-top: 15%;
  color: #fff;
}
.content h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 86px;
  margin-bottom: 20px;
}
.content form {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
}
.content form input {
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 16px;
  padding-left: 10px;
}



@media (max-width: 780px){
  .wrapper {
    width: 100%;
    height: 100vh;
  }
  nav ul {
    display: none;
  }
  .wrapper h1 {
    font-size: 40px;
  }
}
